<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{inc/layout.html}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>메뉴 상세 목록</title>
</head>
<body>
	<main layout:fragment="main">
		<div>
			<div>size: <span th:text="${param.size}"></span></div>
			<div>temp: <span th:text="${param.temp}"></span></div>
		</div>
		<section>
			<h1>카페라떼</h1>
			<h2>Caffe Latte</h2>
			<p>설명글</p>
			<form>
				<fieldset>
					<legend>사이즈</legend>
					<label><input type="radio" name="size" value="1" checked>Small</label>
					<label><input type="radio" name="size" value="2">Large</label>
				</fieldset>
				<fieldset>
					<legend>온도</legend>
					<label><input type="radio" name="temp" value="1" checked>HOT</label>
					<label><input type="radio" name="temp" value="2">ICED</label>
				</fieldset>
				<fieldset>
					<legend>수량</legend>
					<input class="icon icon-minus" type="submit" name="minus" value="1">
					<output>1</output>
					<input type="submit" name="plus" value="1">
					<output>4500원</output>
				</fieldset>
				<div>
					<input type="submit" name="cmd" value="담기">
					<input type="submit" name="cmd" value="주문하기">
				</div>
			</form>
		</section>
	</main>
</body>
</html>